.offer-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.media-container {
    height: 225px;
    width: 225px;
    border: 0.5rem solid #34495E;
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    padding: 0.25rem;
    margin: 0.25rem 0.5rem 0.25rem 0;
}

.delete-image {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: 1.5rem;
    display: flex;
    align-self: start;
    cursor: pointer;
}
