.form-container {
    background-color: var(--main-panel-color);
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
}

.valid-message ::deep{
    font-size: 1rem;
}

.form-item{
    margin-bottom: 0.75rem;
}

label {
    margin-bottom: 0.25rem;    
}

.submit-buttons{
    display: flex;
    justify-content: end;
}
    .submit-buttons ::deep .item {
        --hover-brightness: 0.85;
        border-radius: 0.25rem;
        color: var(--light-color);
    }
        .submit-buttons .accept ::deep .item {
            --bg-color: var(--accept-color);
            --hover-color: var(--accept-color);
        }
        .submit-buttons .cancel ::deep .item {
            --bg-color: var(--cancel-color);
            --hover-color: var(--cancel-color);
        }

.offer-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.media-container {
    height: 225px;
    width: 225px;
    border: 0.5rem solid #34495E;
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    padding: 0.25rem;
    margin: 0.25rem 0.5rem 0.25rem 0;
}

.delete-image {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: 1.5rem;
    display: flex;
    align-self: start;
    cursor: pointer;
}