.add-button{
    width: 100%;
}

.add-button ::deep .item {
    background-color: var(--accept-color);
    --hover-brightness: 0.8;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    font-size: 1.2rem;
}
