@page "/offers/list"

@using WednumiComponents.Menu.Items

@layout _OffersLayout

<div class="add-button">
    <MenuItem href="offers/editor"><i class="bi bi-plus-circle-fill"></i></MenuItem>
</div>

@code {

}
