@inherits LayoutComponentBase

@layout MainLayout

<div class="min-nav">
    <MenuItem href="/">Filters</MenuItem>
    <MenuItem href="/statistics/profitable">Most profitable</MenuItem>
    <MenuItem href="/statistics/best-sellers">Best sellers</MenuItem>
</div>

@Body
