@using Microsoft.AspNetCore.Components.Web
@namespace DigitalGoods.Web.BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="DigitalGoods.Web.BlazorServer.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>

<style>
    :root {
        --back-color: #1c0118;
        --element-back-color: #370926;
        --element-front-color: #F12E41;
        --light-color: #FFE5D4;
        --highlight-color: #DDFFFE;
        --side-panel-color: #151D36;
        --off-element-hover-color: #F12E41;
        --accept-color: forestgreen;
        --cancel-color: red;
        --main-panel-color: darkgray;
        --head-font: Kanit, "Trebuchet MS";
        --main-font: Tahoma;
        --key-font: "IBM Plex Mono";
    }

    body{
        background-color: var(--back-color);
        font-family: var(--main-font);
    }
</style>