@using DigitalGoods.Web.BlazorServer.Pages.OfferElements

<div>
    <CategoryList CategoryTagsRelation="CategoryTagsRelation" />
    <div class="d-flex flex-row">
        <CategoryChildPicker CategoryTagsRelation="CategoryTagsRelation" />
        <div class="item-secondary add-btn">
            <Item @onclick="ToggleOverlay">
                <i class="bi bi-plus-square-fill"></i>
            </Item>
        </div>
    </div>
    <div class="overlay @_overlayCss">
        <CategoryCreatorPanel CategoryTagsRelation="CategoryTagsRelation"/>
        <i class="bi bi-x-circle-fill close-btn" @onclick=ToggleOverlay />
    </div>
</div>

@code {
    private string _overlayCss = "invisible";

    [Parameter]
    public CategoryTagsRelation CategoryTagsRelation { get; set; } = null!;

    private void ToggleOverlay()
    {
        _overlayCss = _overlayCss == ""
            ? "invisible"
            : "";
    }
}
