@using System.ComponentModel
@using AutoMapper
@using DigitalGoods.Web.BlazorServer.Pages.OfferElements

@inject TagService TagService
@inject IMapper Mapper

<div class="wrapper">
    <TagList CategoryTagsRelation="CategoryTagsRelation" />
    <TagPicker CategoryTagsRelation="CategoryTagsRelation" />
    <div class="overlay @_addOverlayCss">
        <TagCreatorPanel CategoryTagsRelation="CategoryTagsRelation" />
    </div>
</div>

@code {
    private string _addOverlayCss = "invisible";

    [Parameter]
    public CategoryTagsRelation CategoryTagsRelation { get; set; } = null!;

    private void TogleOverlay()
    {
        _addOverlayCss = _addOverlayCss == ""
            ? "invisible"
            : "";
    }
}
