.overlay {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.form {
    width: 600px;
    border-radius: 0.5rem;
    background-color: var(--main-panel-color);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

    .form div {
        margin-bottom: 0.5rem;
    }

.close-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.25rem;
    display: flex;
    cursor: pointer;
}

.rating {
    font-size: 1.25rem;
    display: inline-flex;
}

.comment {
    border-radius: 0.25rem;
    background-color: dodgerblue;
    font-size: 1rem;
    color: var(--light-color);
    padding: 0.25rem  0.5rem;
}

.comment-list {
    max-height: 250px;
    overflow-y: scroll;
}