.item-add ::deep .item {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 0;
    margin-right: 0;
}

.image-column {
    display: block;
    width: 150px;
    height: 150px;
}
